# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Nuxt dev/build outputs
.output
.nuxt
# Node dependencies
node_modules
# System files
*.log
.env